*{
  background-color: #222222;
  color: aliceblue;
}

.create-user-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 170px;
}

.form-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #36454f;
  padding: 50px;

  box-shadow: 0 0 10px #888888;
  -moz-box-shadow: 0 0 10px #888888;
  -webkit-box-shadow: 0 0 10px #888888;
  -o-box-shadow: 0 0 10px #888888;
}

.input-fields{
  margin-bottom: 10px;
  padding-right: 50px;
  border-radius: 5px;
}

.h3{
  background-color: #36454f;
}

.show-records{
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-records > p{
  margin-top: 20px;
  margin-right: 20px;
  padding: 5px;
  background-color: #36454f;
  border-radius: 5px;
}